.modalOverlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.modalContent {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.modalImage {
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
  cursor: pointer;
}
